extends layout.pug

block scripts
  script(src="/js/login.js")
  
block content
  h1= "User Login"

  p= "Login with a valid username and password"
  form#login_form
    .form-group()
      label(for="username", class="sr-only") Username
      input(type="text", name="username")
    .form-group()
      label(for="password", class="sr-only") Password
      input(type="password", name="password")
    button#login_submit(type="submit" class="btn btn-primary") Login

  div#response