extends layout.pug
  
block content
  h1= "User Login"

  p= "Login with a valid username and password"
  form(method="post")
    .form-group()
      label(for="username", class="sr-only") Username
      input(type="text", name="username")
    .form-group()
      label(for="password", class="sr-only") Password
      input(type="password", name="password")
    button(type="submit" class="btn btn-primary") Login

  - if (role !== "None")
    - if (role !== "invalid") 
      p="Logged in as " + username + " with role " + role
    - else
      p="Invalid Login"